<script>
    console.log('hello')
    let hamburgerIcon = document.querySelector('.hamburger-icon');
    let navList = document.querySelector('.pages');
    hamburgerIcon.addEventListener('click', () => {
    navList.classList.toggle('active');
});
</script>
</body>
</html>