<%- include('./partials/head') %>
    

    <main class="home">
      <h1 class="title"><%= title %></h1>
      <img id="home-image" src="/public/images/team.jpg" alt="">
      <p>Our website connects you with a community of like-minded programmers, where you can join or create teams to collaborate on coding projects. By working with a team, you can learn new skills, share knowledge, and gain valuable experience in a supportive and collaborative environment. Whether you're a student looking for group projects, a freelancer looking for a new project, or a professional looking to expand your skills, our website is the perfect place to find the right team and get started on your coding journey.</p>
    </main>


    
<%- include('./partials/footer') %>
