<%- include('./partials/head') %>
    

    <main class="home">

      <div>
        <ul>
          <li>Create or join a team.</li>
          <li>Build projects or find a competition.</li>
          <li>Improve your skills and resume.</li>
        </ul>
        <img id="home-image" src="https://media.istockphoto.com/id/1157345255/photo/team-of-young-computer-programmers-cooperating-in-the-office.jpg?s=612x612&w=0&k=20&c=cSDSNJSxyo0-J3DYPP9SBYrd7dxti4Todn--jHr-7pY=" alt="">
      </div>

      <div>
        <p>Our website connects you with a community of like-minded programmers, where you can join or create teams to collaborate on coding projects. By working with a team, you can learn new skills, share knowledge, and gain valuable experience in a supportive and collaborative environment. Whether you're a student looking for group projects, a freelancer looking for a new project, or a professional looking to expand your skills, our website is the perfect place to find the right team and get started on your coding journey.</p>
      </div>

    </main>


    
<%- include('./partials/footer') %>
