@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Montserrat:wght@500&family=Raleway&display=swap');

* {
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;

}

p {
  font-family: 'Raleway', sans-serif;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #ecf0f1;
  background-color: #24252A;
}

nav>div {
  height: 70px;
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #24252A;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #24252A;
}

.logo-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #24252A;
}

.logo>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 40px;
  background-color: #24252A;
}

nav>div:last-child {
  justify-content: right;
  font-size: 1.2rem;
}

.auth {
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  background-color: #24252A;
}

.profile-link {
  background-color: #24252A;
  height: 78px;
  padding: 0 15px;
  transition: all 0.3s ease 0s;
}

.login-link {
  padding: 10px 20px;
  background-color: rgb(0, 136, 169, 1);
  border-radius: 20px;
}

#new-project {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
  height: 40px;
  display: flex;
  border-radius: 30px;
  background-color: rgb(0, 136, 169, 1);
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.auth>a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
  /* background-color: rgb(0, 136, 169, 1); */
}

.login-link:hover {
  background-color: rgb(0, 136, 169, .7);
  cursor: pointer;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.pages>a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ecf0f1;
  transition: all 0.3s ease 0s;
}

.pages>a:hover,
.profile-link:hover {
  color: #0088a9;
  cursor: pointer;
}

nav>div>a {
  height: 70px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ecf0f1;
  background-color: #24252A;
}

i {
  font-size: 2.5rem;
  background-color: #24252A;
}

.home,
main {
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  font-size: 4rem;
  margin: 0;
}

#home-image {
  width: 700px;
  height: 400px;
  border-radius: 50px;
  padding: 20px;
}

ul {
  font-weight: bold;
  font-size: 1.7rem;
  list-style-type: none;
}

li {
  margin: 30px;
}

.home>div {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.home>div:last-child {
  text-align: center;
  margin-top: 45px;
  font-size: 1.2rem;
  line-height: 1.4;
}

main {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* projects index page */
#new-project,
#edit-project {
  background-color: rgb(255, 255, 255);
  width: 25%;
  padding-right: 40px;
  padding-left: 40px;
  margin: auto;
  height: 40px;
  display: flex;
  border-radius: 30px;
  border: 1px rgb(205, 205, 205) solid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.posts-container {
  width: 45%;
  /* border: red 3px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 5px;
}

.project-container {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.project-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.author-pic {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  margin-left: .5rem;
}

.post-author {
  margin: 0;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
}

.post-date {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-weight: 300;
}

.project-members {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 1rem;
}

.project-members>h4,
.project-members>p {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin: 0;
  margin-right: .5rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.project-content>p {
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.4;
  letter-spacing: .8px;
}

.project-footer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: lightgray 1px solid;
}

.project-details {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.project-details>a {
  text-decoration: none;
  color: rgb(102, 102, 102);
  background-color: rgb(255, 255, 255);
  padding: .3rem;
  border: .1rem rgb(102, 102, 102) solid;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}

.project-details>a:hover {
  border: .1rem rgb(61, 60, 60) solid;
  background-color: rgba(226, 226, 226, 0.8);
}

.project-delete {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;

}

.project-delete>form>button {
  background-color: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  border: .1rem rgb(102, 102, 102) solid;
  padding: .3rem .5rem;
  border-radius: 2px;
  transition: all 0.2s ease 0s;
}

.project-delete>form>button:hover {
  cursor: pointer;
  color: rgb(205, 5, 5);
  border: .1rem rgb(205, 5, 5) solid;
}

/* project new page */

.new {
  margin: 4rem;
  height: 60vh;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.2rem;
}

.new>form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 80%;
}

.new>h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}

.new>form>input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
}

.new>form>textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  height: 40%;
  width: 90%;
}

.new>form>button {
  background-color: rgb(0, 136, 169, 1);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transition: all 0.4s ease 0s;
}

.new>form>button:hover {
  color: black;
  background-color: rgb(0, 136, 169, .8);
}

/* projects show page */
.show {
  margin-top: 2rem;
  height: 70vh;
  width: 70vw;
  /* border: 5px solid red; */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.project-card {
  /* margin: 4rem; */
  /* height: 80%; */
  width: 40%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding-left: 1.5rem; */
  padding: 1rem 1.5rem;
}

.members {
  height: 80%;
  width: 40%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.specific-header {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.show-pic {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.specific-date {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-weight: 300;
}

.specific-details {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.member-headers {
  background-color: rgb(255, 255, 255);
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.sign-ups {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign-ups>h3 {
  text-align: center;
}

.member-form {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.member-form>h3 {
  font-size: 1.3rem;
  text-align: center;
}

#add-volunteer-form {
  background-color: rgb(255, 255, 255);
}

#add-volunteer-form>input {
  background-color: color: rgb(255, 255, 255);
  ;
  padding: .5rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 10px 2px #ccc;

}

#add-volunteer-form>input:last-child {
  background-color: gold;
  color: black;
  margin-left: 10px;
  padding: .5rem .9rem;
}

#add-volunteer-form>input:last-child:hover {
  cursor: pointer;
  /* background-color: rgb(250, 232, 102); */
}

/* for tables */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

thead th {
  background-color: rgb(0, 136, 169, 1);
  /* background-color: #f2f2f2; */
  color: #fefefe;
}

tbody td {
  background-color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.4s ease 0s;
}

th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

td>form,
td>form>button,
td>a {
  background-color: rgb(255, 255, 255);
}

td>a {
  text-decoration: none;
  color: #24252A;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease 0s;
}

td>form>button {
  color: rgb(102, 102, 102);
  border: .1rem rgb(102, 102, 102) solid;
  padding: .2rem .4rem;
  border-radius: 2px;
  transition: all 0.2s ease 0s;
  width: 100%;
}

td>form>button:hover {
  cursor: pointer;
  color: rgb(205, 5, 5);
  border: .1rem rgb(205, 5, 5) solid;
}

td>a:hover {
  color: #0088a9;
}

/* edit page */

.edit-link {
  text-decoration: none;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  border: .1rem rgb(102, 102, 102) solid;
  padding: .2rem .4rem;
  border-radius: 2px;
  transition: all 0.2s ease 0s;
  width: 30%;
  padding: .5rem 0;
}

/* competition page */

.competitions {
  width: 90%;
}

/* news page */

.news-title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.news-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.news-card {
  height: 35rem;
  width: 30%;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* flex-basis: auto; */
  /* margin: auto; */
  margin-bottom: 3rem;
  padding: 1.5rem;
}

.news-header,
.news-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-top: 1rem;
  text-overflow: ellipsis;
}

.news-header,
.news-content {
  height: 45%;
}

.news-content>h2 {
  background-color: rgb(255, 255, 255);

  margin: 0;
}

.news-footer {
  height: 10%;
}

.news-image {
  height: 90%;
  width: 90%;
  /* margin-bottom: 1rem; */
}

.news-content>p {
  text-overflow: ellipsis;
  background-color: rgb(255, 255, 255);
}

.news-content>p {
  font-size: 1rem;
}

.article-title>h2 {
  /* margin-top: 1rem; */
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(255, 255, 255);

}

.article-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile */

#delete-profile {
  font-family: ' Raleway', sans-serif;
  border-radius: 5px;
  padding: .3rem .4rem;
  position: absolute;
  left: 0;
  top: 80px;
  transition: all 0.3s ease;
}

#delete-profile:hover {
  background-color: #f44336;
  cursor: pointer;
  color: #ecf0f1;
}

#delete-profile:hover i {
  background-color: #ff4b3e;
  cursor: pointer;
  color: #ecf0f1;
}

.edit-profile {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#edit-profile>i {
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  color: #0088a9;
  transition: all 0.3s ease;
}

#edit-profile>i:hover {
  font-size: 1.1rem;
}

#delete-profile>i {
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  margin-right: .2rem;
  transition: all 0.3s ease;
}

.profile-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
  width: 100%;
  /* border: solid 5px aqua; */
}

#bio-label>a {
  text-decoration: none;
  color: #0088a9;
  background-color: rgb(255, 255, 255);
  font-size: .9rem;
  transition: all 0.3s ease;
}

#bio-label>a:hover {
  font-size: 1rem;
}

.profile-details,
.profile-main,
.profile-followers {
  margin: 0 .5rem;
  /* border: 5px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: inset 0px 0px .5rem #888;
}

.profile-details,
.profile-followers {
  width: 20%;
  /* height: 600px; */
  padding: 1rem;
}

.profile-followers>h2 {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.profile-details>div:nth-child(3) {
  background-color: rgb(255, 255, 255);
}

.profile-main {
  width: 35%;
  background-color: #3d5a80;
  padding: 1rem;
}

.profile-main>h1 {
  margin: 0;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  background-color: #3d5a80;
}

.profile-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

}

.profile-image>img {
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
}

#profile-content {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#profile-content>h3 {
  text-align: left;
  width: 100%;
}

/* 
#profile-name {
  width: 100%;
  margin: auto;
margin-top: 1rem; 
text-align: center;
margin: auto;
} */

#profile-name {
  width: 100%;
  margin: 0;
  margin-top: .8rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
}

#profile-location {
  background-color: rgb(255, 255, 255);
  margin: 0;
  margin-top: .4rem;
  color: #707070;
  text-align: center;
}

.profile-details>div:nth-of-type(2) {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-details>div:last-child {
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#bio-label {
  background-color: rgb(255, 255, 255);
  margin: 0;
  margin-top: .5rem;
  margin-bottom: .2rem;
  font-size: 1rem;
}

#profile-bio {
  background-color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0;
}

.profile-main>.profile-posts {
  width: 100%;
  background-color: #3d5a80;
}

.profile-small>img {
  height: 2.5rem;
  width: 2.5rem;
}

.profile-small>h2 {
  font-size: 1rem;
}

.profile-followers>p {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.profile-skills {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.skill-section {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-section>div:first-child,
.skill-section>div:last-child {
  background-color: rgb(255, 255, 255);
  width: 50%;
  display: flex;
  align-items: center;
}

.skill-section>div:last-child {
  justify-content: flex-end;
}

.delete-skill>button>i {
  font-size: 1.1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(196, 196, 196);
  transition: all 0.2s ease 0s;
}

.delete-skill>button {
  border: none;
  background-color: rgb(255, 255, 255);
}

.delete-skill>button>i:hover {
  color: rgb(196, 0, 0);
  cursor: pointer;
}

.profile-skills>.member-form {
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.profile-skills>.member-form>div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.profile-skills>.member-form>div>ul {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: .3rem 0;
  margin: 0;
  /* margin-top: .3rem; */
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.profile-skills>.member-form>div>ul>li {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: .2rem 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.profile-skills>.member-form>form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

.profile-small>p {
  font-size: .8rem;
}

/* profile create form */

#create-profile {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  /* bottom: 40%; */
  margin: auto;
  width: 50rem;
  height: 30rem;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}

#create-profile>form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  background-color: rgb(255, 255, 255);
}

#create-profile>form>button {
  margin: 0 auto;
}

#create-profile>form>div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: .5rem;
}

.profile-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 33.3%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.profile-inputs>label,
.profile-links>label {
  font-size: 1rem;
  margin-bottom: .3rem;
  background-color: rgb(255, 255, 255);
}

.profile-inputs>input {
  margin-bottom: .8rem;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.profile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 1rem;
  width: 33.3%;
  background-color: rgb(255, 255, 255);
}

.profile-links>input {
  margin-bottom: .8rem;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.profile-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.profile-textarea>textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 100%;
}

/* 
#create-profile>form>div:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#create-profile>h2 {
  margin: 0;
  /* margin-bottom: 1rem; */
/* } */

#create-profile>form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#create-profile>form>label {
  margin: 0;
  margin-bottom: .5rem;
  background-color: rgb(255, 255, 255);
}


#create-profile>form>input {
  width: 100%;
  padding: .5rem;
}

#create-profile>form {
  margin: 0;
  margin-bottom: .5rem;
  height: 70%;
  align-items: flex-start;
}

#profile-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);

}

#profile-show-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  background-color: rgb(255, 255, 255);
  margin-top: 0;
}

#profile-show-name>img {
  margin-right: .8rem;
}

.profile-visit {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

}

.profile-visit>a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: rgb(0, 136, 169, 1);
  color: rgb(255, 255, 255);
  padding: .3rem .7rem;
  border: .1rem rgb(102, 102, 102) solid;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}

.profile-visit>a:hover {
  border: .1rem rgb(61, 60, 60) solid;
  background-color: #3d5a80;
  color: rgb(255, 255, 255);

}

.news-footer>a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 136, 169, 1);
  padding: .7rem 2.9rem;
  border: .1rem rgb(102, 102, 102) solid;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}

.news-footer>a:hover {
  border: .1rem rgb(61, 60, 60) solid;
  background-color: rgb(58, 101, 148);
}