<%- include('../partials/head') %>

  
<main class="new-main">
  <div class="new">
      <h2>Create Project</h2>
      <form action="/projects" method="POST">
          <textarea name="content" cols="2" rows="2" placeholder="Content"></textarea>
          <input type="number" name="members" placeholder="Members Wanted">
        <button type="submit">Add Project</button>
      </form>
  </div>
</main>

<%- include('../partials/footer') %>